@import 'normalize';
@import 'react-select';

$app-layout-padding: 15px;
$app-layout-border-radius: 4px;
$app-secondary-sidebar-width: 240px;

$app-font-family: 'Myriad Set Pro', 'Helvetica Neue', 'Microsoft Yahei', Helvetica, Arial, sans-serif;

$app-color-theme: rgb(2, 187, 0);
$app-color-red: rgb(253, 65, 33);
$app-color-grey: rgb(68, 68, 68);
$app-color-dark: rgb(48, 48, 48);
$app-color-light: rgb(250, 250, 250);
$app-color-text-grey: rgb(204, 204, 204);
$app-color-border-grey: rgb(204, 204, 204);

@mixin clearfix {
    &:after {
        clear: both;
        content: "";
        display: table;
    }
}

* {
    outline: none;
    box-sizing: border-box;
    &[disabled]:hover {
        cursor: not-allowed;
    }
}

button {
    padding: 7px 12px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid $app-color-border-grey;
    &:hover:not([disabled]) {
        color: white;
        background-color: $app-color-theme;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
        border: 1px solid darken($app-color-theme, 10%);
    }
    ~button {
        margin-left: 8px;
    }
}

body {
    cursor: default;
    -webkit-user-select: none;
    font: 12px $app-font-family;
    .iconfont {
        -webkit-text-stroke-width: 0px;
    }
}

#app {
    -webkit-app-region: no-drag;
    position: absolute;
    overflow: hidden;
    top: $app-layout-padding;
    left: $app-layout-padding;
    right: $app-layout-padding;
    bottom: $app-layout-padding;
    border-radius: $app-layout-border-radius;
    box-shadow: 0 0 $app-layout-padding rgba(0, 0, 0, 0.1);
    &.app-maximized {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.app-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.app-fragments,
.app-primary-sidebar {
    top: 0;
    bottom: 0;
    position: absolute;
}

.app-primary-sidebar {
    left: 0;
    background: #2b2b2b;
    color: $app-color-text-grey;
    .app-list-item {
        padding: 12px;
        cursor: pointer;
        &.active {
            color: $app-color-theme;
        }
        &:hover:not(.active) {
            color: white;
        }
        .material-icons {
            font-size: 24px;
        }
    }
}

.app-sidebar-list-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    position: absolute;
}

.app-fragments {
    right: 0;
    left: 48px;
    overflow: hidden;
    background: $app-color-light;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
    border-top-right-radius: $app-layout-border-radius;
    border-bottom-right-radius: $app-layout-border-radius;
    .app-fragment,
    .app-main-content,
    .app-secondary-sidebar {
        top: 0;
        bottom: 0;
        position: absolute;
    }
    .app-fragment {
        left: 0;
        right: 0;
    }
    .app-secondary-sidebar {
        left: 0;
        background: #3a3a3a;
        color: $app-color-text-grey;
        width: $app-secondary-sidebar-width;
        .app-sidebar-list-container {
            top: 40px;
        }
    }
    .app-secondary-sidebar-title {
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        position: relative;
        font-weight: normal;
        padding: 10px $app-layout-padding;
    }
    .app-main-content {
        right: 0;
        padding-top: 40px;
        left: $app-secondary-sidebar-width;
    }
    .language-select {
        max-width: 200px;
        * {
            cursor: pointer;
        }
        .Select-control {
            height: auto;
        }
        .Select-placeholder,
        :not(.Select--multi)>.Select-control .Select-value {
            padding: 8px 10px;
            line-height: 18px;
        }
        .Select-option.is-focused {
            color: white;
            background-color: $app-color-theme;
        }
        &.is-focused:not(.is-open)>.Select-control {
            box-shadow: none;
            border-color: darken($app-color-theme, 10%);
        }
    }
}

.app-file-sidebar {
    .app-secondary-sidebar-title {
        .app-window-draggable {
            display: block;
            margin-right: 20px;
        }
        .add {
            top: 50%;
            cursor: pointer;
            font-size: 20px;
            margin-top: -10px;
            position: absolute;
            right: $app-layout-padding;
        }
    }
    .app-file-item,
    .app-file-group-title {
        @include clearfix;
        position: relative;
        &:hover {
            color: white;
            .edit {
                display: inline-block;
            }
        }
        .edit,
        .arrow,
        .status {
            top: 50%;
            cursor: pointer;
            position: absolute;
        }
        .status {
            width: 10px;
            height: 10px;
            margin-top: -5px;
            border-radius: 50%;
            display: inline-block;
            left: $app-layout-padding;
            background: $app-color-theme;
        }
        .edit {
            display: none;
            margin-top: -7px;
            right: $app-layout-padding;
        }
        .app-file-item-center,
        .app-file-group-center {
            padding: 10px 40px;
            p {
                margin: 0;
                line-height: 18px;
            }
            p:not(.file-name) {
                color: $app-color-text-grey - #444;
            }
            .cloud {
                margin-right: 5px;
                vertical-align: sub;
            }
        }
        .material-icons {
            font-size: 14px;
            line-height: 14px;
        }
    }
    .app-file-group {
        overflow: hidden;
        &.collapsed {
            height: 30px;
            .arrow {
                transform: rotate(-90deg);
            }
        }
        .app-file-group-title {
            background: $app-color-dark;
            .app-file-group-center {
                padding: 7px 40px;
                cursor: pointer;
            }
            .edit {
                right: $app-layout-padding + 20px;
            }
            .arrow {
                font-size: 18px;
                margin-top: -7px;
                right: $app-layout-padding - 2px;
            }
        }
    }
    .app-file-item:hover {
        background: $app-color-grey;
    }
}

.app-setting-sidebar {
    .app-list-item {
        &.active .app-setting-item {
            color: $app-color-theme;
            background: $app-color-dark;
        }
        &:hover:not(.active) .app-setting-item {
            background: $app-color-grey;
        }
    }
    .app-setting-item {
        display: block;
        cursor: pointer;
        line-height: 18px;
        text-decoration: none;
        color: $app-color-text-grey;
        padding: 10px $app-layout-padding;
        .material-icons {
            font-size: 18px;
            margin-right: 8px;
            vertical-align: middle;
        }
    }
}

.app-section {
    padding: 0 20px 15px 20px;
    .app-section-title {
        font-size: 14px;
        margin: 0 0 10px;
        font-weight: normal;
    }
    .app-section-content {

    }
}

.app-titlebar {
    top: 0;
    left: 0;
    right: 90px;
    height: 40px;
    padding: 10px 0;
    font-size: 13px;
    line-height: 20px;
    position: absolute;
    text-align: center;
}

.app-window-draggable {
    -webkit-app-region: drag;
}

.app-window-controls {
    top: 0;
    right: 0;
    z-index: 100;
    margin: 10px 0;
    position: absolute;
    .iconfont {
        cursor: pointer;
        font-size: 20px;
        padding: 10px 5px;
        line-height: 20px;
        &:hover {
            background: #f2f2f2;
        }
    }
    .icon-close:hover {
        color: white;
        background: $app-color-red;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-track-piece {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #8C8C8C;
}
