@import 'normalize';

$app-default-padding: 15px;
$app-default-border-radius: 4px;
$app-default-font-icon: 'iconfont';
$app-default-font-family: 'Myriad Set Pro', 'Helvetica Neue', 'Microsoft Yahei', Helvetica, Arial, sans-serif;

* {
    outline: none;
    cursor: default;
    box-sizing: border-box;
    &[disabled]:hover {
        cursor: not-allowed;
    }
}

body {
    -webkit-user-select: none;
    font: 12px $app-default-font-family;
    .iconfont {
        -webkit-text-stroke-width: 0px;
        font-family: $app-default-font-icon;
    }
}

#app {
    -webkit-app-region: no-drag;
    position: absolute;
    overflow: hidden;
    top: $app-default-padding;
    left: $app-default-padding;
    right: $app-default-padding;
    bottom: $app-default-padding;
    border-radius: $app-default-border-radius;
    background: white;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4), 0 0 15px rgba(0, 0, 0, 0.1);
    &.maximized {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.app-section {
    .app-section-content {

    }
}